[user]
    email = git@raeffs.dev
    name = Raphael Fleischlin
	signingKey = key::ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIGwwIQT6P2wUHnjXl0dFTRS8wqas+a4EtmI+EAMwyLo6

[init]
    defaultBranch = main
[column]
    ui = auto
[branch]
    sort = -committerdate
[tag]
    sort = version:refname
[diff]
    algorithm = histogram
    colorMoved = plain
    mnemonicPrefix = true
    renames = true
[push]
    default = simple
    autoSetupRemote = true
    followTags = true
[fetch]
    prune = true
    pruneTags = true
    all = true
[help]
    autocorrect = prompt
[commit]
    verbose = true
	gpgSign = false
[rerere]
    enabled = true
    autoupdate = true
[core]
    excludesfile = ~/.gitignore
    fsmonitor = true
    untrackedCache = true
[rebase]
    autoSquash = true
    autoStash = true
    updateRefs = true
[merge]
    conflictstyle = zdiff3
[pull]
    rebase = true

[include]
    path = windows.gitconfig

[include]
    path = local.gitconfig
[gpg]
	format = ssh
