
# make tab completion case insensitive
set completion-ignore-case on

# cycle through the completions on tab instead of completing the common prefix
TAB: menu-complete
"\e[Z": menu-complete-backward
